<div class="container py-5">
  <div class="row">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-6 mx-auto">

                  <!-- form card login -->
                  <div class="card rounded-0">
                      <div class="card-header">
                          <h3 class="mb-0">Login</h3>
                      </div>
                      <div class="card-body">
                          <!-- <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST"> -->
                              <div class="form-group">
                                  <label for="uname1">Username</label>
                                  <input type="text" class="form-control" name="uname1" id="uname1" required [(ngModel)]="userName">
                                  <div class="invalid-feedback">Oops, you missed this one.</div>
                              </div>
                              
                              <div class="form-group">
                                  <label>Password</label>
                                  <input type="password" class="form-control" id="pwd1" required="" autocomplete="new-password" [(ngModel)]="password">
                                  <div class="invalid-feedback">Enter your password too!</div>
                              </div>
                              <div class="form-check">
                                <input type="checkbox" class="radio" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me on this computer</label>
                              </div>
                              
                              <button type="submit" class=" btn btn-info btn-lg btn-block" id="btnLogin" (click)="login()">
                                Login</button>
                          <!-- </form> -->
                      </div>
                      <!--/card-block-->
                  </div>
                  <!-- /form card login -->

              </div>


          </div>
          <!--/row-->

      </div>
      <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->